.development {
  min-height: 670px;
  background-image: url("../img/heatingsystems-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/heatingsystems-bg-desktop@2x.png");
  }

  @media (max-width: 1440px) {
    min-height: 500px;
    // min-height: 670px;
    // min-height: 800px;
    // min-height: 1000px;
    width: 1440px;
  }
}
