.dignities__content {
  padding: 110px 0 0;

  @media (max-width: 1440px) {
    width: 1000px;
  }

  h2 {
    @include reset;
    @include title ($font-36, $line-height-43, $bold, $black);
    margin-bottom: 140px;
    text-transform: uppercase;
    position: relative;

    &::after {
      @include title-after;
    }
  }
}

.dignities__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.dignities__item {
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 19px;
  width: 270px;
  padding-top: 150px;
  position: relative;
  text-align: center;
  margin-bottom: 112px;

  @media (max-width: 1440px) {
    width: 250px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background: linear-gradient(42.71deg, #ff8a00 24%, #ffac07 76%);
    border: 4px solid #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transform: translate(-50%, 0);
  }

  &::after {
    position: absolute;
    display: block;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  &--blueprint {
    &::after {
      content: url("../img/icon-blueprint.svg");
    }
  }

  &--tools {
    &::after {
      content: url("../img/icon-tools.svg");
    }
  }

  &--insurance {
    &::after {
      content: url("../img/icon-insurance.svg");
    }
  }

  &--maintenance {
    &::after {
      content: url("../img/icon-maintenance.svg");
    }
  }

  &--purse {
    &::after {
      content: url("../img/icon-purse.svg");
    }
  }

  &--engineers {
    &::after {
      content: url("../img/icon-engineers.svg");
    }
  }

  &--engineer {
    &::after {
      content: url("../img/icon-engineer.svg");
    }
  }
}
