.navigation {
  max-width: 1764px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  ul {
    @include list-reset;
    display: flex;
    width: 950px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  li {
    margin-left: 20px;
    padding-bottom: 10px;
  }

  a {
    font-size: 12px;
    color: $black;
    text-transform: uppercase;

    &:focus,
    &:hover {
      opacity: 0.7;
    }
  }
}
