.review {
  @include dots-bg;
  min-height: 900px;
  padding-top: 50px;
  padding-bottom: 70px;

  h2 {
    @include reset;
    @include title ($font-36, $line-height-43, $bold, $black);
    margin-bottom: 140px;
    text-transform: uppercase;
    position: relative;

    &::after {
      @include title-after;
    }
  }
}

.review__swiper-slide {
  display: flex;
  justify-content: space-between;
}

.review__swiper-container {
  width: 100%;
  min-height: 440px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-pagination > .swiper-pagination-bullet {
  width: 20px;
  height: 10px;
  border: 1px solid $black;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: $black;
}

.review__note {
  @include text ($font-24, $line-height-29, $regular);
  text-transform: uppercase;
  width: 270px;
  margin-left: auto;
  margin-right: 50px;
  text-align: right;
  position: relative;

  b {
    @include text ($font-84, $line-height-101, $bold);
    opacity: 0.2;
  }

  &::after {
    @include section-note-after;
    right: -20px;
    top: 15px;
  }
}
