@mixin title($size, $line-height, $weight, $color) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;
}

@mixin text($size, $line-height, $weight) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

@mixin list-reset {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

@mixin reset {
  margin: 0;
}

@mixin title-after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  left: 0;
  bottom: -60px;
  background-color: $orange;
}

@mixin dots-bg {
  background: $white;
  background-image: radial-gradient($light-grey-2 7%, transparent 0),
    radial-gradient($light-grey-2 7%, transparent 0);
  background-size: 36px 36px;
  background-position: 0 0, 18px 18px;
}
